<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <% if recipe.image_url %>
      <%= link_to image_tag(recipe.image_url.to_s, width: '100%', class: "card-img-top"), recipe_path(recipe) %>
    <% end %>
    <div class="card-body" style="text-align: center;">
      <p class="card-text">
        <span><%= recipe.name %></span>
      </p>
    </div>
  </div>
</div>