<div class="container">
  <h1>Edit Recipe</h1>
  <div style="margin-top: 10px; float: right;">
    <%= button_to 'Cancel', recipe_path(@recipe), method: :get, class: "btn btn-warning btn-sm" %>
  </div>

  <%= render 'form', portfolio_item: @recipe %>  
</div>