<div class="container" style="margin-top: 20px;">
  <h1>Create a new Recipe</h1>
  <div style="margin-top: 10px; float: right;">
    <%= button_to 'Cancel', recipes_path, method: :get, class: "btn btn-warning btn-sm" %>
  </div>

  <%= render 'form', recipe: @recipe %>
</div>