<main role="main">
  <div class="banner">
    <%= image_tag('just_forkin_cropped.jpg') %>
  </div>

  <div class="container marketing">

    <!-- START THE FEATURETTES -->

    <div class="row featurette" style="margin-top: 70px;">
      <div class="col-md-7">
        <h1 class="featurette-heading">About</h1>
        <p class="lead">Lets get one thing straight - I have no intentions of trying to be someone I'm not - a professional or even serious chef. This website is for the everyday cook, the weekend BBQ-er, the average joe, and quite frankly anyone that finds joy in cooking.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag('corndog.JPG', style: 'width:100%') %>
      </div>
    </div>

    <hr style="margin: 80px 0px;" class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h1 class="featurette-heading">Cheap. Easy. Delicious.</h1>
        <p class="lead">That's the goal. No expensive ingredients. No special equipment. Just delicious food that anyone can make all while staying on a budget. What more could you want?</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag('donut-sandwich.JPG', style: 'width:100%') %>
      </div>
    </div>

    <hr style="margin: 80px 0px;" class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h1 class="featurette-heading">Just Forkin' Around</h1>
        <p class="lead">That's the motto. I'm just messin' around and having a good time. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag('steak-fries.jpg', style: 'width:100%') %>
      </div>
    </div>

    <hr style="margin: 80px 0px;" class="featurette-divider">
    <!-- /END THE FEATURETTES -->
  </div>
</main>
