@import "bootstrap/scss/bootstrap";

body {
  font-family: 'Raleway', sans-serif;
}

.recipe-show-name {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width:1700px) and (min-width:1400px) {
  .banner img {
    height: 350px;
  }
}​

.banner {
  position: relative;
}

.banner img {
  /* Make image responsive */
  display: block;
  width: 100%;
  max-height: auto;
}

.bg-light {
  background-color: white !important;
}

.nav-link {
  color: black!important;
}

.active {
  color: black!important;
}

.active:after{
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: 3px solid black; 
}

@media only screen and (max-width: 768px) {
  .lead {
    color: red !important;
  }
  .nav-image {
    display: none !important;
  }
  .remove-btn {
    margin: 10px 0px 0px 15px;
  }
  .add_fields {
    margin-bottom: 20px;
  }
}

.edit-btn {
  float: left;
  margin-left: 10px;
}

.add_fields {
  margin-left: 30px;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}
