@import "bootstrap/scss/bootstrap";

body {
  font-family: 'Raleway', sans-serif;
}

.recipe-show-name {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width:1199px) and (min-width:992px) {
  .card-img-top {
    height: auto;
    max-height: 216px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 767px) {
  .card-img-top {
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width:991px) and (min-width:768px) {
  .card-img-top {
    height: auto;
    max-height: 156px;
    object-fit: cover;
  }
}

@media (max-width:1700px) and (min-width:1200px) {
  .banner img {
    height: 350px;
  }
  .card-img-top {
    height: auto;
    max-height: 250px;
    object-fit: cover;
  }
}​

.banner {
  position: relative;
}

.banner img {
  /* Make image responsive */
  display: block;
  width: 100%;
  max-height: auto;
}

.bg-light {
  background-color: white !important;
}

.featurette-divider {
  margin: 80px 0px;
}

.first-featurette {
  margin-top: 70px;
}

.nav-link {
  color: black!important;
}

.nav-image {
  margin-top: 10px;
}

.active {
  color: black!important;
}

.active:after{
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: 3px solid black; 
}

@media only screen and (max-width: 425px) {
  .nav-image {
    display: none !important;
  }
  .remove-btn {
    margin: 10px 0px 0px 15px;
  }
  .add_fields {
    margin-bottom: 20px;
  }
  .banner img {
    height: 100px;
  }
  .featurette-divider {
    margin: 30px 0px;
  }
  .first-featurette {
    margin-top: 30px;
  }
}

.edit-btn {
  float: left;
  margin-left: 10px;
}

.add_fields {
  margin-left: 30px;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}